
		/* 		
		Try to be best
		'Cause you're only a man
		And a man's gotta learn to take it
		Try to believe
		Though the going gets rough
		That you gotta hang tough to make it
		History repeats itself
		Try and you'll succeed
		Never doubt that you're the one
		And you can have your dreams!
		*/
	
/*████████████████████████████████ COLORS ████████████████████████████████*/


:root {
	--text:	  	#34302b; 				
	--canvas: 	#ded9d3;
	--accent:	#BA070D;
	--neutral:	#89857F;
}

/*████████████████████████████████ FONTS ████████████████████████████████*/


@font-face {
  font-family: 'javacom';
  src: url('/assets/fonts/javacom.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neon';
  src: url('/assets/fonts/neon_glow-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*████████████████████████████████ SETUP ████████████████████████████████*/



body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 17px;
	color: var(--text);
	padding: 0;
	margin: 0;
	background: var(--canvas)
}

/*████████████████████████████████ LOGO ████████████████████████████████*/

#logo {
	text-align: center;
}

#logo a {
	text-decoration: none;
	color: var(--text);
}

/*████████████████████████████████ STRUCTURE ████████████████████████████████*/

#container, #logo, #navbar, #content, #footer {
	max-width: 1100px;
	display: block;
}

#container {
	margin: 0 auto;
	background-color: var(--canvas);
}

#content {
	margin: 0 auto;
	background-color: transparent;
	letter-spacing: 0.03rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	
}

.title {
	display: block;
}

.words {
	max-width: 580px;
	margin: 0 auto;
	padding-bottom: 20px;
	display: block;
}

#footer {
	text-align: center;
	font-weight: bold;
	margin:0 auto;
	background-color: var(--canvas);
	color: var(--text); 
	padding-bottom: 3rem;
}

/*████████████████████████████████ LINKS ████████████████████████████████*/


a:link, a:active {
    color: var(--accent);
}

a:hover {
	text-decoration-thickness: 0.15rem;
}

a:visited {
	color: var(--text);
}


/*████████████████████████████████ HEADINGS ████████████████████████████████*/

.posttitle a {
	text-decoration: none;
	color: var(--text);
}
h2 {
	font-style: italic;
	font-weight: normal;
	border-bottom: 1px solid;
	}

h3 {
	text-align: center;
	font-weight: normal;
}

h4 {
	font-weight: bold;
}

/*████████████████████████████████ PARAGRAPH ████████████████████████████████*/

p, ul, ol {
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.75;
}

ul, ol {
	padding-left: 3rem;
}


blockquote {
	display: block;
	max-width: 544px;
	margin: 0 auto;
	position: relative;
	font-size: 1rem;
	line-height: 1.8rem;
	font-style: normal;
	margin-bottom: 2rem;
	padding: 2rem 1rem 1rem 1rem;
	margin-top: .5rem;
	background-color: var(--text);
	color: var(--canvas)
}

iframe, .twitter-tweet {
	margin: 0 auto;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

img {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
}
 
/*████████████████████████████████ NAVBAR ████████████████████████████████*/


#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
  line-height:1.75;
}

#navbar li a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: var(--text);
  color: var(--canvas);
}

#navbar {	
    border-bottom: 1px solid var(--text);
	line-height: 1rem;
}

/*████████████████████████████████ INDIVIDIUAL POST PAGINATION ████████████████████████████████*/
 
 .PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  background-color: transparent;
  color: var(--text)
}

.PageNavigation .next {
  text-align: right;
}



/*████████████████████████████████ FRONT END PAGINATION ████████████████████████████████*/

hr {
	color:var(--text);
}	

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 0;
    margin-left: -2px;
    margin-right: -2px;
    background-color: transparent;
    display: inline-block;
	color: var(--text);
  }

.pagination {
    text-align: center;
 }

/*████████████████████████████████ TOC ████████████████████████████████*/



#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc li {
	text-align: left;
}

#markdown-toc {
    border: 1px solid var(--accent);
    padding: 1rem 2rem;
    list-style: decimal;
    display: inline-block;
	font-size: .9rem;
	text-align: center;
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc a {
	color: var(--text);
}
	

#markdown-toc > li > ul {
  display: none;
}

/*████████████████████████████████ TABLES ████████████████████████████████*/

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--text);
  font-size: .9rem;
  margin: 3rem 0;
}

td, th {
  border: 1px solid var(--text);
  padding: 8px;
}

tr:hover {
	background-color: var(--neutral);
	color:var(--canvas);
	}s

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--text);
  color: var(--canvas);
}

.good {
	font-size:1.3rem; 
	color: white; 
	background: green;
	font-weight: normal;
	border-radius: 10px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.bad {
	font-size:1.3rem; 
	color: yellow; 
	background: red;
	font-weight: bold;
	border-radius: 10px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.neutral {
	font-size:1.1rem; 
	color: var(--text); 
	background: transparent;
	font-weight: bold;
}