
<script type="text/javascript" src="/assets/js/countdown-sans-y.js"></script>
<script type="text/javascript" src="/assets/js/daycounter.js"></script>

### We Meat!

The Beard: <span id="beard"></span>

The Carnivore: <span id="carnivore"></span>

The Diet: <span id="diet"></span>



<script type="text/javascript">
  new DayCounter('April 22, 2021 00:00:00',   'beard');
  new DayCounter('November 23, 2020 00:00:00', 'carnivore');
  new DayCounter('July 18, 2020 00:00:00', 'diet');

</script>

### Until We Meet!

Countdown to The 23rd Expedition Weigh-in: <span id="weighin"></span>

Countdown to New Year 2022: <span id="newyear"></span>


<script type="text/javascript">
  new CountdownSansY('September, 22 2021 00:04:00', 'weighin');
  new CountdownSansY('January 01, 2022 00:00:00', 'newyear');
</script>

