

| Pass/Fail	| From       	 | To         | Duration | Expedition                         | Start<br>Weight lb| End<br>Weight lb | LB      | LB %     |
| -- 		| -- 			| -- 		  | -- 		 | -- 										   | -- 	| --	   		     | -- 	   | --       |
| ✔ 		| 2017 Dec 31 	| 2018 Apr 01 | 92 Days  | New Year's Eve 2017                         | 331    | 321    		     | \-10    | \-3.02%  |
| ✔ 		| 2018 Apr 02 	| 2018 May 13 | 42 Days  | 1st                        				   | 321    | 280.5  		     | \-40.5  | \-12.62% |
| ✔ 		| 2018 May 14 	| 2018 Jun 24 | 42 Days  | 2nd                                         | 280.5  | 250.25 		     | \-30.25 | \-10.78% |
| ❌ 		| 2018 Jun 25 	| 2018 Aug 27 | 64 Days  | 3rd                                         | 250.25 | 288    		     | 37.75   | 15.08%   |
| ✔ 		| 2018 Aug 28 	| 2018 Oct 08 | 42 Days  | The 4th Expedition: Into the Night          | 288    | 245    		     | \-43    | \-14.93% |
| ✔ 		| 2018 Oct 09 	| 2018 Nov 19 | 42 Days  | The 5th Expedition: ROCKodyssey!            | 245    | 218    		     | \-27    | \-11.02% |
| ❌ 		| 2018 Nov 20 	| 2019 May 28 | 190 Days | 6th                                         | 218    | 293    		     | 75      | 34.40%   |
| ✔ 		| 2019 May 29 	| 2019 Jul 09 | 42 Days  | The Lost 7th Expedition                     | 293    | 250    		     | \-43    | \-14.68% |
| ✔ 		| 2019 Jul 10 	| 2019 Aug 20 | 42 Days  | 8th                                         | 250    | 226    		     | \-24    | \-9.60%  |
| ✔ 		| 2019 Aug 21 	| 2019 Oct 01 | 42 Days  | 9th                                         | 226    | 211.25 		     | \-14.75 | \-6.53%  |
| ❌	 		| 2019 Oct 2  	| 2020 Feb 11 | 133 Days | 10th                                        | 211.25 | 277    		     | 65.75   | 31.12%   |
| ✔ 		| 2020 Feb 12 	| 2020 Mar 24 | 42 Days  | The 11th Expedition: Dreaming of the Disco  | 277    | 237    		     | \-40    | \-14.44% |
| ❌ 		| 2020 Mar 25 	| 2020 Jun 17 | 85 Days  | 12th                                        | 237    | 292    		     | 55      | 23.21%   |
| ✔ 		| 2020 Jun 18 	| 2020 Jul 29 | 42 Days  | The 13th Expedition: Of Yachts & Speedboats | 292    | 267.75 		     | \-24.25 | \-8.30%  |
| ✔ 		| 2020 Jul 30 	| 2020 Sep 09 | 42 Days  | The 14th Expedition: The Night Drive        | 267.75 | 255.75 		     | \-12    | \-4.48%  |
| ✔ 		| 2020 Sep 10 	| 2020 Oct 21 | 42 Days  | The 15th Expedition: the New Prologue       | 255.75 | 244    		     | \-11.75 | \-4.59%  |
| ✔ 		| 2020 Oct 22 	| 2020 Dec 02 | 42 Days  | The 16th Expedition: 20⚡25				   | 244    | 237       		 | \-7     | \-2.87%  |
| ✔ 		| 2020 Dec 03 	| 2021 Jan 13 | 42 Days  | 17th: The Carnivore                         | 237    | 223     			 | \-14    | \-5.91%  |
| ✔ 		| 2021 Jan 14 	| 2021 Feb 24 | 42 Days  | 18th: Moving in Stereo                      | 223    | 220.25  			 | \-2.75  | \-1.23%  |
| ✔ 		| 2021 Feb 25 	| 2021 Apr 07 | 42 Days  | 19th: Bolton to Beale                       | 220.25 | 213     			 | \-7.25  | \-3.29%  |
| ✔ 		| 2021 Apr 08 	| 2021 May 19 | 42 Days  | 20th                                        | 213    | 209     			 | \-4     | \-1.88%  |
| ❌ 		| 2021 May 20 	| 2021 Jun 30 | 42 Days  | 21st                                        | 209    | 210     			 | 1       | 0.48%    |
| ✔ 		| 2021 Jul 01 	| 2021 Aug 11 | 42 Days  | 22nd                                        | 210    | 197.5   			 | \-12.5  | \-5.95%  |
|    		| 2021 Aug 12 	| 2021 Sep 22 | 42 Days  | 23nd                                        | 197.5  | TBD     			 | TBD     | TBD      |
|    		| 2021 Sep 23 	| 2021 Nov 03 | 42 Days  | 24th                                        | TBD    | TBD     			 | TBD     | TBD      |
|    		| 2021 Nov 04 	| 2021 Dec 04 | 30 Days  | The 25th: The Final Countdown               | TBD    | TBD     			 | TBD     | TBD      |
